<!DOCTYPE html>
<html>
  <body>
    <div>
        <font size="3" face="Calibri">Вам пришло подозрительное письмо, возможно, содержащее вирусы. Просим ни при каких обстоятельствах не открывать вложение!
        <br><br>Если Вы открыли вложение или уверены, что письмо безопасно, Вам необходимо связаться с нами для уточнения дальнейших действий.
        <br>Спасибо.
        </font>
    </div>
    <br>
    <div>
        <font size="3" face="Calibri">Подозрительное письмо содержит:
            <br>Отправитель: {{ from_name }}
            <br>Тема: {{ subject }}
            <br><br>Прикрепленные файлы:
            <br>
            <pre>{{ attachments }}</pre>
            <br>Идентификатор инцидента - {{ id_incident }}
        </font>
    </div>
    <br>
    <div>
        <font size="3" face="Calibri">Best regards,
            <br>-------------------------
            <br>Security operations center
            <br>email: soc@domain1.ru
            <br>тел: 8(499)555-55-55 (12345)
            <br>
        </font>
    </div>
  </body>
</html>
